<html>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body id="index">
    <div class="container">
        <h1>Register</h1>
        <form>
            <input type="text" name="name" placeholder="entrez votre nom" required>
            <input type="password" name="password" maxlength="8" placeholder="entrez votre mot de passe" required>
            <button><p class="p1">je m'inscrire</p><p class="p2">register</p></button>
            <a href="/"><p class="p1">je me connecte</p><p class="p2">connect now</p></a>
        </form>
    </div>
    <div class="ombre"></div>
    <div class="anim">
        <p><span class="text"></span> &nbsp;&nbsp;<span class="bar">|</span></p>
    </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/registerScript.js"></script>
    </body>

</html>