*{
	margin:0px;
	padding:0px;
}
body {
	margin:0px;
	padding:0px;
	/*background:#FFFFFF;
	background-repeat:repeat-x;*/
	width:100%;
	font-family:Calibri;
	font-size:13px;
	color:#666666;
	background-color:#EDEEEE;
	background-image:url(../images/motifgb2.jpg);
	background-attachment: fixed;
}

h1
{
	font-size:30px;
	font-weight:bold;
	margin-bottom:10px;
}

#grille
{
	// width:900px;
	// height: 570px;
	text-align:center;
	// border:#333 1px solid;
	margin: 0 auto;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;	
	// background-color:#CCCCCC;
	// background:rgba(100,100,100,.1);
	padding: 10px;
}

a:link {
    color:#333;
	text-decoration:none;
}
a:visited {
    color:#EDEEEE;
	text-decoration:none;
}
a:hover {
    color:#EDEEEE;
	text-decoration:none;
}
a:active {
    color:#EDEEEE;
	text-decoration:none;
}

.flux
{
	padding:0px;
	margin:0px;
	width:auto;
}

.flux:hover
{
	color:#EDEEEE;
}

#identifiant
{
	width:270px;
	height:30px;
	/*Coins arrondis*/
	border:#333 1px solid;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
	text-align:left;
	padding-left:5px;
	font-size:18px;
	background-color:#fff;
	color:#7030a0;
	font-weight:bold;
	text-decoration:none;
	margin-top:-5px;
	margin:20px;
	letter-spacing:2px;
	text-align:center;	
}

#motPasse
{
	width:270px;
	height:30px;
	/*Coins arrondis*/
	border:#333 1px solid;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
	text-align:left;
	padding-left:5px;
	font-size:26px;
	background-color:#fff;
	color:#7030a0;
	font-weight:bold;
	text-decoration:none;
	margin-top:-5px;
	margin:20px;
	letter-spacing:2px;
	text-align:center;
}

.bouton
{
	 width:270px;
	 height:30px;
	 font-weight:bold;
     color: #EDEEEE;
	 font-weight:bold;
	border:#333 1px solid;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;	 
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
	 text-shadow: 0px 1px 0px white;
	 text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.4);
     box-shadow: 0 0 10px rgba( 0, 0, 0, 0.8),
                 0 -1px 0 rgba( 255, 255, 255, 0.6);	
	
	box-shadow: 2px 2px 0px #aaa;
	font-size:20px;
	text-align:center;	
	padding-left:0px;
	margin:20px;
}

.bouton:hover
{
	cursor:pointer;
	box-shadow: 6px 6px 0px #aaa;
}

.btn
{
	width:185px;
	height:55px;
	text-align:center;
	padding:0px;
	margin:0px;
	border:#333 1px solid;
	border-radius: 5px;
	background: #444;
	background: linear-gradient( #555, #2C2C2C);
	text-shadow: 0px 1px 0px white;
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.4);
	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.8),
			 0 -1px 0 rgba( 255, 255, 255, 0.6);	
	
	box-shadow: 2px 2px 0px #aaa;	
	margin:5px;
	font-size:20px;
	color:#ccccff;
}

.btn:hover
{
	cursor:pointer;
	box-shadow: 6px 6px 0px #aaa;
}

.case
{
	width:60px;
	float:left;
	height:60px;
	text-align:center;
	padding:0px;
	margin:0px;
	border:#333 1px solid;
	border-radius: 5px;
     background: #CCC;
     background: linear-gradient( #CCC, #FFF);
	 text-shadow: 0px 1px 0px white;
	 text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.4);
     box-shadow: 0 0 10px rgba( 0, 0, 0, 0.8),
                 0 -1px 0 rgba( 255, 255, 255, 0.6);	
	
	box-shadow: 2px 2px 0px #aaa;	
	margin:2px;
	transition: all 0.25s ease;
}

/*.colonne
{
	width: 100%;
	height:auto;
	text-align:center;
	border:#333 1px solid;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;	
	background-color:black;
	background:rgba(100,100,100,.1);
	padding-top:16px;
	padding-bottom:10px;
	margin-bottom:20px;
	margin-left:40px;
} */

.titre_centre
{
	width:720px;
	float:left;
	height:30px;
	text-align:center;
	border:#333 1px solid;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;	
	background-color:#ccccff;
	border:#7030a0 1px solid;
	color:#7030a0;
	font-size:20px;
	padding-left:10px;
	padding-top:16px;
	padding-bottom:10px;
	margin-bottom:20px;
	margin-left:40px;
}

.centre
{
	width:800px;
	float:left;
	text-align:center;
}

.div_conteneur_parent
{
	width:100%;
	height:auto;
	text-align:center;
}

/* .div_conteneur_page
{
	margin-top:5px;
	width:1200px;
	text-align:left;
	border:#666666 1px solid;
	height:auto;
	display:inline-block;
	background-color:#FFFFFF;
	background-image:url(../images/textpap4.jpg);
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;	
} */

.titre_page
{
	width:auto;
	padding-top:18px;
	height:42px;
	font-family:Calibri;
	color:#FFFFFF;
	text-align:right;
	background-image:url(../images/bg-tech-std.png);
	background-repeat:no-repeat;
	background-color:#666666;
	padding-right:10px;
}

.div_saut_ligne
{
	width:100%;
	height:75px;
	display:inline-block;
}

.div_int_page
{
	width:100%;
	height:auto;
	font-size:14px;
	font-family:Calibri;
	color:#666666;
	text-align:left;
}



.progressbar {
	width: 35%;
	margin: 25px auto;
	border: solid 1px #000;
	margin-right: 50px;
  }
  .progressbar .inner {
	height: 15px;
	animation: progressbar-countdown;
	/* Placeholder, this will be updated using javascript */
	animation-duration: 40s;
	/* We stop in the end */
	animation-iteration-count: 1;
	/* Stay on pause when the animation is finished finished */
	animation-fill-mode: forwards;
	/* We start paused, we start the animation using javascript */
	animation-play-state: paused;
	/* We want a linear animation, ease-out is standard */
	animation-timing-function: linear;
  }
  @keyframes progressbar-countdown {
	0% {
	  width: 100%;
	  background: #0F0;
	}
	100% {
	  width: 0%;
	  background: #F00;
	}
  }